@model CarpoolingCR.Models.Mensaje

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Mensaje</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_MENSAJE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_MENSAJE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Solicitud.COMENTARIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solicitud.COMENTARIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_USUARIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_USUARIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MENSAJE1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MENSAJE1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
