@model IEnumerable<CarpoolingCR.Models.Mensaje>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_MENSAJE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitud.COMENTARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MENSAJE1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_MENSAJE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitud.COMENTARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MENSAJE1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ID_MENSAJE}) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_MENSAJE}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_MENSAJE })
        </td>
    </tr>
}

</table>
