<p>Crea tu cuenta y empieza a disfrutar de las ventajas del trasporte compartido </p>
<%= form_for @usuario, :as => :usuario, :url => nuevo_usuario_path, :method => :post do |f| %>
    <p>
      <%= f.label 'nombre:' %><br/>
      <%= f.text_field :nombre %>
    </p>
    <p>
      <%= f.label 'primer apellido:' %><br/>
      <%= f.text_field :primer_apellido %>
    </p>
    <p>
      <%= f.label 'segundo apellido:' %><br/>
      <%= f.text_field :segundo_apellido %>
    </p>

    <p>
      <%= f.label 'direccion:' %><br/>
      <%= f.text_field :direccion %>
    </p>

    <p>
      <%= f.label 'oficio:' %><br/>
      <%= f.text_field :oficio %>
    </p>

    <p>
      <%= f.label 'telefono:' %><br/>
      <%= f.text_field :telefono %>
    </p>

    <p>
      <%= f.label 'email:' %><br/>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label 'password:' %><br/>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label 'confirmacion de password:' %><br/>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit 'Registrarse' %>&nbsp;&nbsp;&nbsp;
      <%= f.submit 'Clear Form', :type => 'reset' %>
    </p>
<% end %>