<p>Iniciar Sesion</p>
<%= form_for @usuario, :as => :usuario, :url => sign_in_path(@usuario) do |f| %>
    <p>
      <%= f.label 'email:' %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label 'password:' %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit 'Entrar' %>&nbsp;&nbsp;&nbsp;
    </p>
<% end %>