<h2> Nueva Solicitud:</h2>
<%= form_for([@usuario,@viaje,@viaje.solicituds.build]) do |f| %>
    <p>

      <%= f.label 'Comentario' %><br>
      <%= f.text_area :comentario %>

      <%= f.hidden_field :id_usuario, :value => @usuario.id,:visible => false%>
      <%= f.hidden_field :estado, :value => 'PENDIENTE'%>
    </p>

    <p>
      <%= f.submit 'Crear Viaje'%>
    </p>
<% end %>
