<td><%= link_to 'Inicio',  usuario_path(@usuario) %></td>
<h1>Todos Viajes</h1>

<table>
  <tr>
    <th>Origen</th>
    <th>Destino</th>
    <th colspan="3"></th>
  </tr>

  <% @viaje.each do |viaje| %>
      <tr>
        <td><%= viaje.origen %></td>
        <td><%= viaje.destino %></td>
        <td><%= link_to 'Mostrar', viaje_usuario_viajes_path(viaje.id) %></td>
        <td><%= link_to 'Realizar Solicitud',new_usuario_viaje_solicitud_path(@usuario,viaje.id) %></td>
      </tr>
  <% end %>
</table>