<td><%= link_to 'Inicio',  usuario_path(@usuario) %></td>
<h1>Viajes</h1>

<table>

  <tr>
    <th>Origen</th>
    <th>Destino</th>
    <th colspan="3"></th>
  </tr>

  <% @usuario.viajes.each do |viaje| %>
      <tr>
        <td><%= viaje.origen %></td>
        <td><%= viaje.destino %></td>
        <td><%= link_to 'Mostrar', usuario_viaje_path(@usuario,viaje.id) %></td>
        <td><%= link_to 'Editar',  edit_usuario_viaje_path(@usuario,viaje.id) %></td>
        <td><%= link_to 'Ver Solicitudes',  usuario_viaje_solicituds_path(@usuario,viaje.id) %></td>

      </tr>
  <% end %>
</table>