
<h1>Informacion sobre el Viaje <%= @viaje.origen%> - <%= @viaje.destino%></h1>
<p>
  <strong>Origen:</strong>
  <%= @viaje.origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @viaje.destino %>

</p>

<p>
  <strong>Fecha:</strong>
  <%= @viaje.fecha %>

</p>

<p>
  <strong>Hora:</strong>
  <%= @viaje.hora %>

</p>

<p>
  <strong>Costos:</strong>
  <%= @viaje.costo %>

</p>

<p>
  <strong>Espacios Disponibles:</strong>
  <%= @viaje.espacio %>

</p>

<p>
  <strong>Estado del Viaje:</strong>
  <%= @viaje.estado %>

</p>