<%= link_to 'Nuevo Viaje', new_usuario_viaje_path(@usuario) %>
<%= link_to 'Mis Viajes', usuario_viajes_path(@usuario) %>
<%= link_to 'Buscar Viajes', index_all_usuario_viajes_path(@usuario) %>
<p>
  <strong>Title:</strong>
  <style type="text/css">
      
      a {
          text-decoration: none;
          background: greenyellow;
          margin: 0.5em 0;
          padding: 0.3em
      }
      a:link {
          color: blue }
      a:visited {
          color: purple }
      a:hover{
          color: orange;
          font-style: italic;
      }
      p {
          font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
  <%= @usuario.nombre %>
</p>

<p>
<strong>Text:</strong>
  <%= @usuario.primer_apellido %>

</p>
