<!DOCTYPE html>
<html>
<p>
  <% if current_user %>
      Uusario: <%= current_user.nombre+" " + current_user.primer_apellido%>.
      <%= link_to "Salir", signed_out_path %>
  <% else %>
      <%= link_to "Registrarse", nuevo_usuario_path %>
      <%= link_to "Iniciar Sesion", sign_in_path %>
  <% end %>
</p>

<%= yield %>

</html>
